body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*background-image: url("C:/Users/gowdaro/OneDrive - Tecnotree/Desktop/des/images (1).jpg");*/
  background-image: url("C:\Users\gowdaro\OneDrive - Tecnotree\Desktop\tumblr_a5d619a01611f1bb79ff39a984e8095c_d3572408_540.gif");
  /*background-color: blanchedalmond;*/
  background-repeat: no-repeat;
  background-size: cover;
  


  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
text-align: center;
}
img{
  margin-left: start;
}

