/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1{
    background-color: black;
    color:aliceblue;
    text-align: center;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
  }
  
  p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
  }
  
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .button {
    display: inline-block;
    margin-top: 20px;
  }
  
  /* Header styles */
  
  header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .gallery{
    display:inline;
  }
  
  /* Images section */
.images-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .images-section img {
    width: 50%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  /* Footer */
  .footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  