body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #043254;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

header h1 {
  margin: 0;
  text-align: center;
}

header input {
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  margin-right: 1em;
}

header button {
  background-color: rgb(175, 205, 222);
  color: #333;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.course {
  background-color: #e1ecf8;
  border-radius: 5px;
  margin: 1em;
  padding: 1em;
  width: 30%;
  margin-left: 120px;
  
}

.course h2 {
  margin: 0;
}

.course p {
  margin: 0.5em 0;
}

.enroll-btn, .cancel-btn {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0.5em;
  margin-left:60px ;
}

.cancel-btn {
  background-color: #f44336;
  margin-right: 00px;
}

