* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}



#hero {
	text-align: center;
	color: #fff;
	
}

#hero h1 {
	font-size: 48px;
	margin-bottom: 20px;
    color:black
}

#hero p{
	font-size: 30px;
	margin-bottom: 20px;
    color:black
}

#hero p {
	font-size: 24px;
	margin-bottom: 40px;
    color:black;
}


    
    #destinations {
    margin-top: 40px;
    }

    #destinations h2 {
        font-size: 36px;
        margin-bottom: 20px;
        text-align: center;
        }
        
        .destination-card {
        background-color: #f2f2f2;
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
        .destination-card img {
            max-width: 100%;
            margin-bottom: 10px;
            justify-content: space-between;
            }
            
            .destination-card h3 {
            font-size: 24px;
            margin-bottom: 10px;
            text-align: right;
            }
            
            .destination-card p {
            font-size: 16px;
            margin-bottom: 20px;
            text-align: right;
            }
            
            .destination-card button {
            background-color: #fff;
            color: #333;
            padding: 10px 20px;
            border-radius: 20px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            }
            
            #about-us {
            margin-top: 40px;
            }
            
            #about-us h2 {
            font-size: 36px;
            margin-bottom: 20px;
            text-align: center;
            }
            
            #about-us p {
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 20px;
            text-align: center;
            }
            
            #about-us button {
            background-color: #fff;
            color: #333;
            padding: 10px 20px;
            border-radius: 20px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            }

          
            
            #contact {
            margin-left: 20%;
            margin-top: 40px;
            width: 300px;
            }
            
            #contact h2 {
            font-size: 36px;
            margin-bottom: 20px;
            }
            
            #contact form {
            display: flex;
            flex-wrap: wrap;
            }
            
            #contact label {
            flex-basis: 100%;
            font-size: 18px;
            margin-bottom: 10px;
            }
            
            #contact input,
            #contact textarea {
             width: 100px;   
            flex-basis: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: 1px solid #ccc;
            }
            
            #contact button[type="submit"] {
            background-color:black;
            color: white;
            padding: 10px 20px;
            border-radius: 20px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            margin-left: 100px;
            }
            
            footer {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
            margin-top: 40px;
            }