body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  background-image: url('https://cdn.dribbble.com/users/1339984/screenshots/3866712/checklist.gif');
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 300px;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  background-color: #C7E8CA;
  border-radius: 12px;
  border-color: beige;
  font-size: medium;
  
}

.del{
  background-color: #C7E8CA;
  border-radius: 12px;
  border-color: beige;
  font-size: medium;
  margin-left:165px;
}



