body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-image: url('https://icon-library.com/images/weather-icon-gif/weather-icon-gif-24.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
  font-size: larger;
  font-weight: bolder;
  margin-left: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input{
  padding: 12px 20px;
  width: 15%;
  margin: 8px ;
  box-sizing: border-box;
  border-radius: 10px;
}

button{
  border-radius: 10px;
  border-color: aqua;
  font-size: medium;

}
p{
  margin-right: 80px;
  text-align: center;
}

h1{
  margin-right: 60px;
}